<div class="app-root">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="assets/images/image.png" width="150" alt="" class="d-inline-block align-middle mr-2">
    </a>
    <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" (click)="route('home')" >Decrypt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" (click)="route('encrypt')">Encrypt</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" href="#">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
