<div class="home-page">
  <div class="centered-content">
    <div class="center-block">
      <div
        ngfDrop
        multiple         = "1"
        selectable       = "1"
        [(validDrag)]    = "validComboDrag"
        [(file)]        = "file"
        [maxSize]        = "maxSize"
        [(lastInvalids)] = "lastInvalids"
        [(dragFiles)]    = "dragFiles"
        class            = "well my-drop-zone"
        [class.invalid-drag] = "validComboDrag===false"
        [class.valid-drag]   = "validComboDrag"
        (filesChange) = "lastFileAt=getDate()"
        [fileDropDisabled] = "fileDropDisabled"
      >
        Drop a <strong>File</strong> into this zone or click to select a file to decrypt
      </div>
    </div>
    <div *ngIf="file" class="center-block">
      {{ file.name }} uploaded
    </div>
    <div *ngIf="!file" class="center-block">
      No file uploaded
    </div>
    <div class="center-block">
      <input (keyup.enter)="decryptContent()" [(ngModel)]="passPhrase" type="password" class="form-control" placeholder="Password" aria-label="Enter Password" aria-describedby="basic-addon2">
    </div>
    <div class="center-block">
      <button class="btn btn-lg btn-outline-dark" (click)="decryptContent()">
        Decrypt Content
      </button>
    </div>
  </div>
</div>