.help-component {
  padding: 20px;
  margin: auto;
  /* width: 50%; */
  max-width: 1000px;
}

.help-component-content {
  width: 100%;
}

/deep/ .card-header{
  background-color: #343a40;
  text-align: left;
}

.white {
  color: white;
  text-decoration: none;
}
.white:hover {
  color: white;
  text-decoration: none;
}
.white:active {
  text-decoration: none;
}