.help-component {
  padding: 20px;
}

ngb-accordion {
  .card {
    border: none;
  }

  .card-header {
    @extend .h4;
    margin-bottom: 0;
    color: black;
    background-color: transparent;
  }

  .card-body{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}