<div class="encrypt-component">
  <div class="form-group">
    <ckeditor [(ngModel)]="text" [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic', 'link', '|', 'insertTable', '|', 'bulletedList', 'numberedList', '|', 'outdent', 'indent', '|', 'blockQuote', '|', 'undo', 'redo'] }" [editor]="editorObj"></ckeditor>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Password</label>
    <input #pass type="password" (keyup)="password(pass.value, true)" class="form-control" placeholder="Enter Password" aria-label="Enter Password" aria-describedby="basic-addon2">
    <small class="form-text text-muted">A strong password would have a combination of lowercase and upper case characters along with numbers and special characters.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Confirm Password</label>
    <input #passConfirm type="password" (keyup)="password(passConfirm.value, false)" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="basic-addon2">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Filename</label>
    <input (keyup.enter)="encrypt()" [(ngModel)]="fileName" type="text" class="form-control" placeholder="Enter a Filename" aria-label="Enter Filename" aria-describedby="basic-addon2">
  </div>
  <button class="btn btn-outline-dark" (click)="encrypt()">
    Encrypt Content
  </button>
</div>
<p>{{ text }}</p>